@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.body {
  font-family: "Open Sans", sans-serif;
}
.forget_body {
  background-color: rgb(117, 157, 209);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to top, rgb(22, 42, 46), rgb(78, 212, 253));
}

.forget_img {
  height: 250px;
  width: 280px;
  background-color: transparent;
}

.forget_form_card {
  text-align: center;
  height: 400px;
  width: 300px;
  background-color: #ffffff;
  border-radius: 5px;
  background-image: linear-gradient(to top, rgb(78, 212, 253), rgb(22, 42, 46));
}

.form_card input {
  background-color: transparent;
}

.form_input_style {
  background-color: #f3f3f3;
  outline: none !important;
  border: none !important;
}
.form_input_style:hover {
  outline: none !important;
  border: none !important;
}
.form_input_style:focus {
  outline: none !important;
  border: none !important;
}

.signin_btn {
  background-image: linear-gradient(
    to right,
    rgba(223, 108, 83, 1),
    rgba(253, 187, 79, 1)
  );
  color: white;
  font-family: "Roboto", sans-serif;
}
.signin_btn:hover {
  border: none !important;
  color: white !important;
}
