.Home {
  display: flex;
  margin-top: 20px;
  margin: auto;
  width: 98%;
  margin-top: 20px;
  justify-content: space-between;
}

.menu_container {
  width: 20%;
}

.social_media {
  width: 60%;
}

.resourses_container {
  width: 20%;
}

@media screen and (max-width: 1300px) {
  .resourses_container {
    display: none;
  }

  .social_media {
    width: 85%;
  }

  .menu_container {
    width: 25%;
  }
}

@media screen and (max-width: 760px) {
  .Home {
    display: block;
  }

  .resourses_container {
    display: block;
    width: 98%;
    margin: auto;
  }

  .social_media {
    display: block;
    width: 98%;
    margin: auto;
  }

  .menu_container {
    display: block;
    width: 98%;
    margin: auto;
  }
}
