.card_list {
  list-style: none;
  padding-left: 10px;
}

.card_list li:hover {
  border-radius: 5px;
  background: #bfe4b7;
}

.card_list li {
  margin: auto;
  padding: 5px;
  display: flex;
}
.menu_card {
  color: rgba(70, 66, 66, 1);
  border: 1px solid #d6d3d3;
  background: rgba(13, 188, 41, 0.08);
}

.card_list span {
  margin-right: 8px;
}

.Notification_Badge {
  background-color: #bf8888;
  color: white;
  font-size: 11px;
  border-radius: 50%;
  align-items: center;
  text-align: center;
  display: flex;
  padding: 0px 5px 0px 5px;
}
