.social_logo {
  height: 90px;
  width: 90px;
}

.social_media_card_logo {
  display: flex;
}

.social_media_card_logo span {
  display: flex;
}

.card_detais {
  display: flex;
}

.social_details {
  display: flex;
}

.social_details span {
  margin-left: 10px;
}

.time_comment span {
  margin-right: 10px;
}

.card_content {
  display: flex;
}
.card_content p {
  margin-left: 10px;
}
.follow_btn {
  height: 100%;
}

.social_card {
  height: 350px;
  width: 300px;
  border-radius: 15px;
}
.social_btn {
  margin-top: 140px;
  margin-left: 10px;
}
.social_btn Button {
  background-color: rgba(46, 125, 50, 0.1);
}

.socialMedia_card {
  display: flex;
}
