.social_logo {
  background-color: rgb(51 62 76);
  vertical-align: middle;
  padding: 4px;
  height: 40px;
  width: 40px;
  line-height: 28px;
  font-size: 20px;
}

.social_media_card_logo {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.social_media_card_logo span {
  display: flex;
}

.card_detais {
  display: flex;
}

.social_details span {
  margin-left: 10px;
}

.time_comment {
  margin: 0px;
}

.card_content {
  display: flex;
}
.card_content p {
  margin-left: 10px;
}
.follow_btn {
  height: 100%;
}

.social_card {
  height: 350px;
  width: 250px;
  border-radius: 15px;
}
.social_btn {
  margin-top: 140px;
  margin-left: 10px;
}
.social_btn Button {
  background-color: rgba(46, 125, 50, 0.1);
}

.socialMedia_card {
  display: flex;
  margin: 0px;
}

.Comment_Input {
  border: none !important;
  background-color: #d2e5c6;
  border-radius: 8px;
  margin: auto;
  width: 100%;
  margin-top: 10px;
  height: 40px;
}

.Comment_Box {
  overflow: scroll;
  height: 100px;
  margin-top: 10px;
}

.Commnet_P {
  margin: 0px;
}

.Comment_btn {
  align-items: center;
}

.Social_Content {
  height: 700px;
  overflow-y: scroll;
  width: 98%;
}

@media screen and (max-width: 760px) {
  .Social_Content {
    height: 100%;
  }
}

.Social_Content::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.Social_Content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
  background: #edfaef;
}

/* Handle */
.Social_Content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 150px;
  background: #53ad83;
}

/* Handle on hover */
.Social_Content::-webkit-scrollbar-thumb:hover {
  background: #d5e5d7;
}

.Social_Tab {
  margin: auto;
  width: 95%;
}
