.User_Logo {
  display: flex;
  justify-content: space-around;
  width: 22%;
  margin: 0px;
  align-items: center;
  text-align: center;
}

.user_Upload_img {
  border: 1px solid rgb(187, 185, 185);
  height: 230px;
  width: 240px;
  border-radius: 8px;
}

.gutter-box {
  padding: 8px 0;
  background: #00a0e9;
}
