@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.body {
  font-family: "Open Sans", sans-serif;
}
.login_body {
  background-color: rgb(117, 157, 209);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to top,
    rgba(223, 108, 83, 1),
    rgba(253, 189, 78, 1)
  );
}

.signup_form_card {
  text-align: center;
  height: 600px;
  width: 350px;
  background-color: white;
  border-radius: 5px;
}
.form_heading {
  color: #515151;
}
.signup_form_input_style input {
  background-color: transparent;
}

.signup_form_input_style {
  background-color: #f3f3f3;
  outline: none !important;
  border: none !important;
}
.signup_form_input_style:hover {
  outline: none !important;
  border: none !important;
}
.signup_form_input_style:focus {
  outline: none !important;
  border: none !important;
}

.signin_options {
  text-align: right;
  color: rgba(231, 128, 82, 1);
  font-family: "Open Sans", sans-serif;
  font-style: italic;
}
.signin_btn {
  background-image: linear-gradient(
    to right,
    rgba(223, 108, 83, 1),
    rgba(253, 187, 79, 1)
  );
  color: white;
  font-family: "Roboto", sans-serif;
}
.signin_btn:hover {
  border: none !important;
  color: white !important;
}
.or_divider {
  color: #7d7979;
}
.facebook_login_btn {
  background-color: #3a5998;
  color: white;
  font-size: 11px !important;
  font-family: sans-serif;
}
.twitter_login_btn {
  background-color: #05abed;
  color: white;
  font-size: 11px !important;
  font-family: sans-serif;
}
.google_login_btn {
  background-color: #f44235;
  color: white;
  font-size: 11px !important;
  font-family: sans-serif;
}

.facebook_login_btn:hover,
.twitter_login_btn:hover,
.google_login_btn:hover {
  border: none !important;
  color: white !important;
}
