.UserProfilePage_imgTop {
  height: 22vh;
  width: 100%;
  position: relative;
}

.UserProfilePage_user_logo {
  background-color: rgb(51 62 76);
  vertical-align: middle;
  padding: 4px;
  height: 80px;
  width: 80px;
  line-height: 65px;
  font-size: 50px;
}

.UserProfilePage_back_btn {
  border: none;
  border-radius: 8px;
  background-color: color(xyz-d50 0.31 0.41 0.64);
  color: white;
  position: relative;
  height: 40px;
  width: 150px;
}

.UserProfilePage_logo_back {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: auto;
  margin-top: -50px;
}

/* .User_Post_upload {
  height: 40px;
  width: 40px;
} */

.UserProfilePage_Detail_P {
  margin: 5px;
}

.UserProfilePage_tab {
  border: 1px solid rgb(187, 185, 185);
  border-radius: 16px;
}
